.pokemons {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  position: relative;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background-color:#ffffff;
  border-radius:15px;
}
.normal {
  background-color: #a6a877;
}
.grass {
  background-color: #77c850;
}
.fire {
  background-color: #ee7f30;
}
.water {
  background-color: #678fee;
}
.electric {
  background-color: #f7cf2e;
}
.ice {
  background-color: #98d5d7;
}
.ground {
  background-color: #dfbf69;
}
.flying {
  background-color: #a98ff0;
}
.poison {
  background-color: #a040a0;
}
.fighting {
  background-color: #bf3029;
}
.psychic {
  background-color: #f65687;
}
.dark {
  background-color: #725847;
}
.rock {
  background-color: #b8a137;
}
.bug {
  background-color: #a8b720;
}
.ghost {
  background-color: #6e5896;
}
.steel {
  background-color: #b9b7cf;
}
.dragon {
  background-color: #6f38f6;
}
.fairy {
  background-color: #f9aec7;
}

.pokemon {
  display: flex;
  flex-direction: column;
  position: relative;
  
  
}

.pokemon .card {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
  cursor:pointer;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
}

.stats {
  display: none;
}

.pokemon:hover .card {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  position: absolute;
  z-index: 2;
  transform: scale(1.1, 1.1);
}

.pokemon:hover .stats {
  display: block;
}

.detail img {
  height: auto;
  width: 60%;
  display: block;
  transform: translateX(-1px);
}

.card-detail-list{
  padding-left:0px;
}



.pokemon .number {
  color: #0b0c0c;
  text-align: right;
  opacity: 0.3;
  font-size: 0.625rem;
}

.pokemon .name {
  color: #fff;
  margin: 0.25rem 0;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem;
  margin: 0.25rem 0;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

.pokemon .detail .front-img {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  filter: drop-shadow(8px 8px 9px #000000);
}

.stat-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  flex: 1 0 50%;
}

.stat-item-text {
  opacity: 0.8;
  width: 58px;
  font-size: 0.95rem;
}

.stat-item-value {
  width: 25px;
  display: flex;
  justify-content: end;
}

.ability-container {
  width: 60%;
  height: 8px;
  border-radius: 5px;
  background-color: rgba(117, 117, 139, 0.4196078431);
}

#hp,
#atk,
#def,
#sp_atk,
#sp_def,
#speed {
  max-width: 100%;
  height: 8px;
  border-radius: 5px;
}

#hp {
  background-color: blue;
}

#atk {
  background-color: red;
}

#def {
  background-color: green;
}

#sp_atk {
  background-color: pink;
}

#sp_def {
  background-color: purple;
}

#speed {
  background-color: orange;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
