*{
    font-family: 'Roboto', Sans-Serif;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc ;
}

.Content{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: white;
}

@media screen and (min-width: 992px) {
    .Content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;

    }

} 

